<!DOCTYPE html>
<!-- l33t hacker! https://techcrunch.com/2021/10/15/f12-isnt-hacking-missouri-governor-threatens-to-prosecute-local-journalist-for-finding-exposed-state-data/ -->
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
</head>
<body style="background-color:black;">
  <div class="text-center">
    <img src="/images/nbdm.png">
    </br>
    </br>
    <div class="container">
      <div>
        <a href="/" class="btn btn-default"><span class="fas fa-arrow-left"></span> Back</a>
      </div>
    </div>
    <h2 class="white">About nbduckman</h2>
    <div class="container" style="width:500px" >
      <p class="white">Hi! My name is nbduckman. I'm a software developer from Adelaide, South Australia. You've probably found this page by seeing my content on one of my various social media
      pages. I post on various websites about many of my interests, which include: </p>
      <p class="white">• Retro and modern gaming (primarily Mario, Pokemon, Banjo Kazooie, Valve games, The Neverhood)</p>
      <p class="white">• Retro game collecting (primarily Nintendo)</p>
      <p class="white">• Coin collecting (primarily Australian coins)</p>
      <p class="white">• Trading card collecting (Yu-Gi-Oh, Pokemon)</p>
      <p class="white">• Coca-Cola memorabilia collecting</p>
      <p class="white">• Computers, programming, cryptocurrency tech, and other CompSci topics</p>
      <p class="white">• Music (Deadmau5, Daft Punk, Nujabes, Pogo, Joji)</p>
      <p class="white">• Music production (though I've kind of given up on this)</p>
      <p class="white">• Christianity, Christian theology and apologetics, and textual criticism</p>
      <p class="white">• Travel, geography, geo-politics, and Adelaide history (the city in which I live)</p>
      <p class="white">• Video production, filmography and drone videography</p>
      <p class="white">• "2016-era" YouTube content (Cold Ones, Filthy Frank)</p>
      <p class="white">I hope you enjoy my content. If you have any questions, or feedback, please don't hesitate to reach out!</p>
    </div>
    </br>  
  </div>  
</div>  
</body>
</html>
