<!DOCTYPE html>
<!-- l33t hacker! https://techcrunch.com/2021/10/15/f12-isnt-hacking-missouri-governor-threatens-to-prosecute-local-journalist-for-finding-exposed-state-data/ -->
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
</head>
<body style="background-color:black;">
  <div class="text-center">
    <img src="/images/nbdm.png">
    <h2 class="white">The home of nbduckman</h2>
    <p class="white">View my social media:</p>
  </br>
  <div class="container">
    <div>
      <a href="/about" class="btn btn-default"><span class="fa fa-user"></span> About me</a>
    </div>
    </br>
    <div>
      <a href="mailto:nbduckman@outlook.com" class="btn btn-default"><span class="fas fa-envelope"></span> Email</a>
    </div>
    </br>
    <div>
      <a href="//www.youtube.com/user/Nicholasbduckman" class="btn btn-danger"><span class="fab fa-youtube"></span> YouTube</a>
    </div>
    </br>
    <div>
      <a href="//www.instagram.com/nbduckmanscollectorscorner/" class="btn btn-default btn-pink"><span class="fab fa-instagram"></span> Instagram</a>
    </div>
    </br>
    <div>
      <a href="//twitter.com/nbduckman" class="btn btn-info"><span class="fab fa-twitter"></span> Twitter</a>
    </div>
    </br>
    <div>
      <a href="//discord.gg/hGPJh9jp" class="btn btn-default btn-purple"><span class="fab fa-discord"></span> My Discord Server</a>
    </div>
    </br>
    <div>
      <a href="//discord.gg/yfcAdh6" class="btn btn-default btn-klay"><span class="fab fa-discord"></span> Neverhood Discord Server</a>
    </div>
    </br>
    <div>
      <a href="//www.reddit.com/user/nbduckman/" class="btn btn-default btn-orange"><span class="fab fa-reddit"></span> Reddit</a>
    </div>
    </br>
    <div>
      <a href="//steamcommunity.com/id/nbduckman" class="btn btn-default btn-grey"><span class="fab fa-steam"></span> Steam</a>
    </div>
    </br>
    <div>
      <a href="//www.twitch.tv/nbduckman" class="btn btn-default btn-purple"><span class="fab fa-twitch"></span> Twitch</a>
    </div>
    </br>
    <div>
      <a href="//news.ycombinator.com/user?id=nbduckman" class="btn btn-default btn-orange"><span class="fab fa-hacker-news"></span> Hacker News</a>
    </div>
    </br>
    <div>
      <a href="//github.com/nbduckman" class="btn btn-default btn-grey"><span class="fab fa-github"></span> Github</a>
    </div>
    </br>
    </div>
  </div>
</div>
</body>
</html>
